<div class="row">
  <div class="col-12">
    <form *ngIf="!memberTime" [@fadeInOnEnter] [@fadeInUp]="team.length"
      [ngClass]="{ 'input-mt': !team.length, 'mt-3': team.length }" class="input-top-position">
      <div class="form-group">
        <input placeholder="Add team member" autocomplete="off" type="email" class="form-control" id="teamMemberInput"
          #teamMemberInput (keydown.enter)="processTeamMember($event)" (keyup.enter)="clearInput()" />
      </div>
    </form>

    <div *ngIf="team.length" [@slideInUpOnEnter] class="text-center mt-5">
      <button class="main-btn" (click)="setAction(buttonText)">
        {{ buttonText }}
      </button>
      <countdown-timer *ngIf="memberTime" [countDownTimerConfig]="testConfig"></countdown-timer>
    </div>

    <ul id="teamMembersList" *ngIf="team.length" [@slideInUpOnEnter] class="list-group list-group-flush mt-5 mb-5">
      <li [@fadeInOnEnter] [@fadeOutOnLeave] *ngFor="let teamMember of team | orderBy: order"
        class="list-group-item list-group-item-dark loading-animation" [ngClass]="{
          'loading-animation': memberTime && teamMember.id === currentMemberId,
          doneTalking: teamMember.timeExpired === 1
        }" [ngStyle]="
          memberTime &&
          teamMember.id === currentMemberId && {
            'animation-duration': animationDuration
          }
        ">
        <div class="row">
          <div class="col-10">
            <span class="team-name">{{ teamMember.name }}</span>
          </div>
          <div class="col-2">
            <app-remove-btn [data]="teamMember" show="!memberTime" (onClick)="removeTeamMember($event)">
            </app-remove-btn>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<app-modal-box #genericModal [modalData]="genericModalData"></app-modal-box>